<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionString>
    <add name="ReserveringenConnectionStringSQL"
         connectionstring="Data Source=194.171.20.12;Initial Catalog=RBS1516_DB12;User ID=RBS1516_grp12;Password=vV5LwCh5XV"/>
  </connectionString>
</configuration>