<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionString>
    <add name="ReserveringenConnectionStringSQL"
         connectionstring="Data Source=194.171.20.12; Initial Catalog=RBS1516_db12; User ID=RBS1516_grp12; password=vV5LwCh5XV"/>
  </connectionString>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>